html {
  font-family: Overpass, sans-serif;
  background-color: #ff5e3a;
  color: #fff;
}

.i-192 {
  color: #fff;
}

body {
  background-image: linear-gradient(to top, #ff5e3a, #ff9500);
}

.btn-ghost {
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 8px;
  color: #fff;
  padding: .5em;
}

.btn:hover {
  background-color: #fff;
  border-color: #fff;
}

.space-bubbles,
.super-domes {
  border-right: solid 2px;
  border-color: rgba(255, 255, 255, 1);
}

@media only screen and (min-width: 60em) {

}
